#analysis_area {
    float: right;
}

#document_area {
    float: left;
    height: 100%;
}

#main_area {
    height: 100%;
    width: 1500px;
}

#user_text {
    float: left;
}

#analyzed_text {
    float: right;
    width: 600px;
    margin-left: 20px;
}

body {
    height: 100%;
}

.pv_highlight {
    background-color:pink;
}

#title_bar {
    width: 100%;
    margin-bottom: 20px;
}

#title {
    float: center;
}
